<p> <%= link_to "Home", articles_path %> | <%= link_to "Post New Article", new_article_path %> | <%= link_to "Edit Article", edit_article_path %> | <%= link_to 'Delete Article', article_path(@article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <strong><%= @article.title %></strong>
  <br>by <%= @article.author.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  Created <%= @article.created_at %>
  <br>
  Last Updated <%= @article.updated_at %>
</p>